<nav class="navbar navbar-expand-lg navbar-light  bg">
  <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/images/logo.png" style="width: 50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active"> 
        <a class="nav-link ml-5" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-5"  routerLink="gproducts" routerLinkActive="active">Gaming products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-5" routerLink="mycart" routerLinkActive="active">My Cart</a>
      </li>
      <li class="nav-item">
          <a class="nav-link ml-5"routerLink="mycomplaints" routerLinkActive="active">My Complaints</a>
        </li>
    </ul>
  </div>

  </nav>
  <router-outlet></router-outlet>