<br>
<br>
<br>
<br>

<div class="card">
<div class="card-body px-lg-5 pt-5">
    <h5 class="card-header info-color white-text text-center py-4"> </h5>
        <strong>Add Complaint</strong>
        
   
    <br>
<br>

<form #f="ngForm" (ngSubmit)="addComplaint()">
    <div class="form-group w-10">
        <label for="title"> Title:</label>
        <input class="form-control" type="text" name="title" [(ngModel)]="complaint.title" #t="ngModel" required/>
    <div *ngIf="t.invalid">
      </div>
      <div class="form-group">
        <label for="descirption">Message:</label>
      <textarea class="form-control" type="textarea" name="descirption" [(ngModel)]="complaint.description" #d="ngModel" required ></textarea>
        <div *ngIf="d.invalid"></div>
        
      </div>
      
      <button type="submit"   [disabled]="f.invalid" class="btn btn-primary" (click)="save()" >Save</button>
    </div>
    

</form>
</div>
</div>

<router-outlet></router-outlet>
